:root {
    --back: #313338;
    --title: #BAAFFF;
    --menus: #1E1F22;
    --submenus: #2D2D2D;
    --text-first: #CBD6D6;
    --text-second: #949494;
    --hover-color1: #9281FF;

    --br: 0.3vh;
}

* {
    margin: 0; padding: 0; box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--back);
}

main {
    color: var(--text-first);

    position: absolute;
    left: 50%; transform: translate(-50%);

    padding: 3vh;

    background: var(--menus);

    height: 100%;
}

.audio_div {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--submenus);

    margin-bottom: 3vh;

    padding: 1vh;

    border-radius: var(--br);
}

#container p {
    margin-bottom: 1vh;
}

.logo {
    display: flex;
    justify-content: center;

    margin-bottom: 10vh;

    user-select: none;
}

audio {
    outline: none;
}

main img {
    width: 10vh;
}

.control_buttons {
    cursor: pointer;
    margin-bottom: 1vh;
}

.control_buttons button {
    cursor: pointer;
    
    background: var(--menus);

    border: 0;

    padding: .3vh;

    outline: none;

    color: var(--text-first);
}

.control_buttons button:hover {
    color: var(--hover-color1);

    cursor: pointer;
}

.audio_name {
    margin-bottom: 1vh;
}

.audio_duration {
    position: relative;

    width: 100%;
    height: 0.3vh;

    background: var(--text-first);
}

.duration_scroller {
    position: absolute;

    left: -5px;

    top: -127%;
    
    width: 1vh;
    height: 1vh;

    background: var(--hover-color1);

    border-radius: 100px;
}

audio::-webkit-media-controls-panel {
    background-color: var(--submenus);
    color: var(--text-first);
}

audio::-webkit-media-controls-mute-button {
    background-color: var(--submenus);
    color: var(--text-first);
}

audio::-webkit-media-controls-play-button {
    background-color: var(--submenus);
    color: var(--text-first);
}
audio::-webkit-media-controls-timeline-container, video::-webkit-media-controls-timeline-container {
    background-color: var(--submenus);
    color: var(--text-first);
}
audio::-webkit-media-controls-current-time-display, audio::-webkit-media-controls-time-remaining-display {
    color: var(--text-first);
}
audio::-webkit-media-controls-timeline, video::-webkit-media-controls-timeline {
    background-color: var(--submenus);
    color: var(--text-first);
}