:root {
    --back: #313338;
    --title: #BAAFFF;
    --menus: #1E1F22;
    --submenus: #2D2D2D;
    --text-first: #CBD6D6;
    --text-second: #949494;
    --hover-color1: #9281FF;

    --br: 0.3vh;
}

* {
    margin: 0; padding: 0; box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}


body {
    background: var(--back);
}

main {
    position: absolute;

    left: 50%; transform: translate(-50%);

    background: var(--menus);

    padding: 3vh;

    color: var(--text-first);

    min-width: 46vh;
    min-height: 100%;
}


.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(45deg, var(--title), fuchsia);

    margin-bottom: 5vh;
}

.logo {
    width: 10vh;
}

.audio_section {
    margin: 5vh 0;

    margin-bottom: 5vh;
}

.audio_div {
    padding: 1vh;

    margin: 3vh 0;

    background: var(--submenus);

    border-radius: var(--br);


    display: flex;
    justify-content: space-between;

    min-width: 40vh;

    cursor: pointer;
}

.audio_div:hover {
    color: var(--hover-color1);
    background: var(--menus);

    box-shadow: 0 0 2vh 0.5vh var(--hover-color1);

    transition: 0.3s;
}


.player_section {
    position: absolute;

    font-size: 1.3vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--submenus);

    min-width: 40vh;
    height: 5vh;

    padding: 2vh 0.5vh;

    border-radius: var(--br);
}

.player_section div {
    background: var(--menus);

    padding: 0.3vh;
    border-radius: var(--br);

    min-height: 2vh;
}

.player_audio_stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.player_audio_name {
    display: flex;
    justify-content: space-between;

    margin-left: 0.2vh;

    min-width: 7vh;
}

.player_buttons {
    cursor: pointer;
    min-width: 8vh;

    display: flex;
    justify-content: space-between;
}

.player_buttons button {
    background: var(--menus);

    cursor: pointer;

    border: 0;

    color: var(--text-first);
}

.player_buttons button:hover {
    color: var(--hover-color1);
}

.player_scrollbar {
    width: 80%;

    margin: 0 3%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scrollbar_passive {
    position: relative;

    min-width: 100%;
    min-height: 0.5vh;

    border-radius: 30vh;

    background: var(--text-first);
}

.scrollbar_active {
    position: absolute;

    top: 0;

    width: 0%;
    min-height: 0.5vh;

    border-radius: 30vh;

    background: var(--hover-color1);
}

.scrollbar_passive:hover .scrollbar_active {
    box-shadow: 0 0 0.5vh 0.1vh var(--hover-color1);

    transition: 0.6s;
}

.line-margin {
    margin: 0 1vh;
}














::-webkit-scrollbar {
    display: none;
}

.title {
    user-select: none;
}

